body {
  color: #757575;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
   padding: 0px;
  margin: 0px;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.container {
  width: 1170px;
  margin: 0 auto;
}










:root {
  --accent-color: #2196f3;
  --logo-color: #000000;
  --title-color: #ffffff;
  --desk-color: #757575;
  --color: #212121;
  --background-color1: #f5f4fa;
  --background-color: #2f303a;
  --main-font: "Raleway", "sans-serif";
  --second-font: "Roboto", "sans-serif";
  --icon-color:#AFB1B8;
  
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

:root {
  --white: #fff;
  --black: #000;
  --backgroung-base: #fff;
  --background-dark: #2F303A;
  --background-dimmed: #F5F4FA;
  --primary-text: #757575;
  --secondary-text: #FFFFFF;
  --primary-title: #212121;
  --secondary-title: #FFFFFF;
  --hover-link: #2196F3;
  --btn-background-highlight: #2196F3;
  --btn-background-dimmed: #F5F4FA;
  --btn-color-light: #FFFFFF;
  --logo-span: #2196F3;
  --wrap-border: #eee;
  --portfolio-border:#ECECEC;
}




.details-list {
  list-style: none;
}

.details {
  padding-bottom: 94px;
  padding-top: 94px;
}

.details-title-one {
  content: "";
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color);
  margin-bottom: 10px;
}

.details-title-two {
  content: "";
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color);
  margin-bottom: 10px;
}

.details-title-three {
  content: "";
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--color);
  margin-bottom: 10px;
}

.details-title-four {
  content: "";
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color);
  margin-bottom: 10px;
}

.details-title-one::before {
  content: "";
  background: url(./images/antenna\.png) center/70px 70px no-repeat;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-dimmed);
}

.details-title-two::before {
  content: "";
  background: url(./images/clock\.png) center/70px 70px no-repeat;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-dimmed);
}

.details-title-three::before {
  content: "";
  background: url(./images/diagram\.png) center/70px 70px no-repeat;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-dimmed);
}

.details-title-four::before {
  content: "";
  background: url(./images/astronaut\.png) center/70px 70px no-repeat;
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-dimmed);
}

.details-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--desk-color);
}

.details-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.doing {
  padding-bottom: 94px;
}

.doing-title {
  padding-bottom: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color);
}


.doing-list {
  display: flex;
  gap: 30px;
}

.doing-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--title-color);
 
}

.doing-overlay {
  position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 60px;           
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;   
    align-items: center; 
}


.doing-item {
  position: relative;

}

.footer {
  padding: 60px 0px;
  background-color: var(--background-color);
}


.footer-logo-link {
  color: var(--title-color);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
  text-decoration: none;
}

.footer-logo-link>span {
  color: var(--accent-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address {
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}


.footer-contact {
  color: var(--desk-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.footer-item:nth-of-type(1) {
  margin-top: 20px;
}

.footer-join {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  padding: 60px 0px;
  background-color: var(--background-dark);
}

.footer-container {
  display: flex;
  flex-direction: row;
  
}

.footer-logo-link {
  color: var(--white);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
}

.footer-logo-link>span {
  color: var(--logo-span);
}



.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-item {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

.footer-contact,
.footer-contact {
  color: var(--primary-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
}
.footer-title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
padding-bottom: 20px;
}
.footer-icon{
  width: 20px;
  height: 20px;
  fill: var(--title-color);
}
.footer-icon-list{
  display: flex;
    gap: 10px;
}
.footer-wrapper{
  padding-top: 12px;
  padding-left: 70px;
}
.footer-link{
  padding: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      display: block;
}
.footer-link:hover{
  background-color: var(--accent-color);
}
.box {
  background-image: url("/images/computer.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 600px;
  width: 600px;
  background-color: var(--accent-color);
  padding: 30px;
  transform: translateY(100%);
  opacity: 0.8;
  transition-duration: 1.5s;
}

.box:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-two:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-three:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-four:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-five:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-six:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-seven:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-eight:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.box-nine:hover .overlay {
  transform: translateX(0);
  transition: transform 250ms ease;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--title-color);
  height: 168px;
  width: 322px;
  margin-top: 32px;
}

.box-two {
  background-image: url("/images/basketball.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}

.box-three {
  background-image: url("/images/seafood.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}

.box-four {
  background-image: url("/images/headphones.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}

.box-five {
  background-image: url("/images/boxes.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}

.box-six {
  background-image: url("/images/computer-two.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}

.box-seven {
  background-image: url("/images/book.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}

.box-eight {
  background-image: url("/images/label.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}

.box-nine {
  background-image: url("/images/buisness.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 370px;

}


.header {
  padding: 25px 0px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cover {
  display: flex;
  align-items: center;

}

.header-icon {
  width: 16px;
  height: 12px;
  fill: var(--desk-color);
}

.header-icon:nth-child(2) {
  width: 10px;
  height: 16px;
}

.header-list {
  display: flex;
  gap: 50px;
  
}

.header-logo-link {
  color: var(--logo-color);
  font-weight: 700;
  font-size: 26px;
  font-family: var(--second-family);
  text-decoration: none;
  padding-right: 93px;
}

.header-logo-link>span {
  color: var(--accent-color);
}

.header-link {
  color: var(--logo-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  position: relative;
}
.header-link-studio{
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  padding-bottom: 28px;
}
.header-link-portfolio{
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  padding-bottom: 28px;
}
.header-link-portfolio::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  
  width: 78px;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 10px;
}
.header-link-studio::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  
  width: 48px;
  height: 4px;
  background-color: #2196f3;
  border-radius: 10px;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-mail,
.header-phone {
  color: var(--primary-text);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.header-mail:hover,
.header-phone:hover,
.header-icon:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -28px;
  left: 0;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}


.header-link {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}



.header-link:hover::after {
  background-color: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(94deg, rgba(48, 47, 58, 0.4), rgba(48, 47, 58, 0.4)), url(./images/team.jpg);

  background-repeat: no-repeat;
  background-size: cover;

}

.hero-title {
  color: var(--title-color);
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.hero-button {
  margin: 0 auto;
  background-color: var(--accent-color);
  border-width: 0;
  padding: 10px 32px 10px 32px;
  border-radius: 2px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.team-title {

  margin-bottom: 50px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.team-list {

  display: flex;
  justify-content: space-between;
  gap: 30px;
  list-style: none;
  
}
.team-icon-list{
      
    display: flex;
    gap: 10px;
    
    justify-content: center;
    padding-top: 16px;
}
.team-icon{
  fill: var(--icon-color);
      width: 20px;
      height: 20px;
}
.icon-link{
  padding: 12px;
      
      display: block;
}
.icon-link:hover{
  background-color: var(--accent-color);
  border-radius: 100%;
  
}
.icon-link,.team-icon:hover{
  fill: var(--title-color);
}
.team-item {
  background-color: var(--title-color);
  padding-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

}

.team {
  background-color: var(--background-color1);
  padding: 94px 0 94px;
}
.clients{
  padding: 94px 0 94px;
}
.clients-title{
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: var(--color);
}
.clients-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}
.clients-icon{
  fill: var(--icon-color);
  width: 100px;
  height: 60px;
  border: 1px solid #AFB1B8;
  padding: 16px 32px;
  border-radius: 4px;
}
.clients-icon:hover{
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.control {
  margin-top: 94px;
  margin-bottom: 34px;
}

.portfolio-item {
  margin-bottom: 30px;
}

span {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
}

.team-img {
  width: 270px;
  height: 260px;
}

.team-name {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-role {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--desk-color);
}



.header-portfolio {
  padding: 25px 0px;
  border-bottom: 1px solid #ECECEC;
}

.projects {
  padding: 94px 0px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-item{
  flex-basis: calc((100% - 193px)/ 3);
}
.projects-filter {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.projects-item-btn {
  border: none;
  color: var(--primary-title);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 6px 25px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 162%;
  letter-spacing: 0.03em;
   animation: vibrate 300ms infinite linear;
}


.projects-item-btn:nth-of-type(2) {
  padding: 6px 22px;
}

.projects-item-btn:nth-last-of-type(3) {
  padding: 6px 22px;
}

.projects-item-btn:nth-of-type(4) {
  padding: 6px 22px;
}

.projects-item-btn:nth-of-type(5) {
  padding: 6px 22px;
}

.projects-item-btn:hover {
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--btn-background-highlight);
}

.projects-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
 
  
}

.projects-wrap {
  padding: 20px 24px;
  border: 1px solid var(--wrap-border);
  border-top: none;
}

.projects-title {
  color: var(--primary-title);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.projects-name {
  color: var(--primary-text);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
}

.projects-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}



.projects-img {
  width: 370px;
  height: 294px;
}


@keyframes vibrate {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(-1px, 0); }
  50%  { transform: translate(1px, 0); }
  75%  { transform: translate(-1px, 0); }
  100% { transform: translate(0, 0); }
}